.spacerTop {
	margin-top: 2rem;
}

#canvas_holder {
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
	height:100%;
	z-index: 0;
}
 
#canvas_holder > map_canvas {
	width:100%;
	height:100%;
	position: "absolute";
	top: 0px;
	left: 0px;
	overflow: "hidden";
}

.sapMShellBrandingBar {
	display: none;
}

.sapMPageHeader::before {
	border-top: 0px;
}

.sap-desktop .sapMIBar.sapMHeader-CTX {
	background-color: transparent;
}

.sapMBar {
	box-shadow : none;
	background-color: transparent;
}

.sapMShellBrandingBar {
	height: 0px;
}

.sapUiUfdShellBackground, .sapMGlobalBackgroundColor {
	background-color: transparent;
	background-image: none;

}





